<h1>Add a new course</h1>
{{#if error}}
  <p class='alert'>{{error}}</p>
{{/if}}
<form action='/add' method='POST' novalidate>
  <div class='input-field'>
    <input
      id='title'
      name='title'
      type='text'
      class='validate'
      required
      value='{{data.title}}'
    />
    <label for='title'>Course Name</label>
    <span class='helper-text' data-error='Enter name'></span>
  </div>
  <div class='input-field'>
    <input
      id='price'
      name='price'
      type='number'
      class='validate'
      value='{{data.price}}'
      required
      min='1'
    />
    <label for='price'>Course Price</label>
    <span class='helper-text' data-error='Enter price'></span>
  </div>
  <div class='input-field'>
    <input
      id='img'
      name='img'
      type='text'
      value='{{data.img}}'
      class='validate'
      required
    />
    <label for='img'>URL Image</label>
    <span class='helper-text' data-error='Enter url of image'></span>
  </div>

  <input type='hidden' name='_csrf' value='{{csrf}}' />

  <button class='btn btn-primary'>Add Course</button>
</form>